.dropdown-menu .scroll-content {
  max-height: 160px;
  padding: 0;
  margin: 0px;
  list-style: none;
}
input[type=checkbox][data-toggle^=toggle] {
  opacity: 0;
}
.btn .caret {
  margin-left: 8px;
}
label {
  font-weight: 600;
}
.form-control,
.bootstrap-select > .btn {
  border-radius: 3px;
}
.bootstrap-select > .btn {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-group {
  margin-bottom: 12px;
}
button.btn.btn-block,
a.btn.btn-block {
  overflow-x: hidden;
}
.progress {
  background-color: rgba(0, 0, 0, 0.05);
}
.progress-bar.progress-bar-success {
  background-color: #60b760;
}
.progress-bar.progress-bar-danger {
  background-color: #b40000;
}
/* Pointing finger */
@-webkit-keyframes point {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(-5px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}
@-moz-keyframes point {
  0% {
    -moz-transform: translate(0px, 0px);
  }
  50% {
    -moz-transform: translate(-5px, 0px);
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}
@-o-keyframes point {
  0% {
    -o-transform: translate(0px, 0px);
  }
  50% {
    -o-transform: translate(-5px, 0px);
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}
@keyframes point {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-5px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.coach-point {
  -webkit-animation: point 500ms 1500ms ease 2 normal;
  -moz-animation: point 500ms 1500ms ease 2 normal;
  -o-animation: point 500ms 1500ms ease 2 normal;
  animation: point 500ms 1500ms ease 2 normal;
}
/* Shaking login form */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(-1px, 0px);
  }
  10% {
    -webkit-transform: translate(-2px, 0px);
  }
  20% {
    -webkit-transform: translate(-3px, 0px);
  }
  30% {
    -webkit-transform: translate(-2px, 0px);
  }
  40% {
    -webkit-transform: translate(-1px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 0px);
  }
  60% {
    -webkit-transform: translate(1px, 0px);
  }
  70% {
    -webkit-transform: translate(2px, 0px);
  }
  80% {
    -webkit-transform: translate(3px, 0px);
  }
  90% {
    -webkit-transform: translate(2px, 0px);
  }
  100% {
    -webkit-transform: translate(1px, 0px);
  }
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translate(-1px, 0px);
  }
  10% {
    -moz-transform: translate(-2px, 0px);
  }
  20% {
    -moz-transform: translate(-3px, 0px);
  }
  30% {
    -moz-transform: translate(-2px, 0px);
  }
  40% {
    -moz-transform: translate(-1px, 0px);
  }
  50% {
    -moz-transform: translate(0px, 0px);
  }
  60% {
    -moz-transform: translate(1px, 0px);
  }
  70% {
    -moz-transform: translate(2px, 0px);
  }
  80% {
    -moz-transform: translate(3px, 0px);
  }
  90% {
    -moz-transform: translate(2px, 0px);
  }
  100% {
    -moz-transform: translate(1px, 0px);
  }
}
@-o-keyframes shake {
  0% {
    -o-transform: translate(-1px, 0px);
  }
  10% {
    -o-transform: translate(-2px, 0px);
  }
  20% {
    -o-transform: translate(-3px, 0px);
  }
  30% {
    -o-transform: translate(-2px, 0px);
  }
  40% {
    -o-transform: translate(-1px, 0px);
  }
  50% {
    -o-transform: translate(0px, 0px);
  }
  60% {
    -o-transform: translate(1px, 0px);
  }
  70% {
    -o-transform: translate(2px, 0px);
  }
  80% {
    -o-transform: translate(3px, 0px);
  }
  90% {
    -o-transform: translate(2px, 0px);
  }
  100% {
    -o-transform: translate(1px, 0px);
  }
}
@keyframes shake {
  0% {
    transform: translate(-1px, 0px);
  }
  10% {
    transform: translate(-2px, 0px);
  }
  20% {
    transform: translate(-4px, 0px);
  }
  30% {
    transform: translate(-2px, 0px);
  }
  40% {
    transform: translate(-1px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(1px, 0px);
  }
  70% {
    transform: translate(2px, 0px);
  }
  80% {
    transform: translate(4px, 0px);
  }
  90% {
    transform: translate(2px, 0px);
  }
  100% {
    transform: translate(1px, 0px);
  }
}
.shake {
  -webkit-animation: shake 120ms ease 6 normal;
  -moz-animation: shake 120ms ease 6 normal;
  -o-animation: shake 120ms ease 6 normal;
  animation: shake 120ms ease 6 normal;
}
@-webkit-keyframes ajax-anim {
  from {
    left: 0%;
    width: 0%;
  }
  50% {
    left: 0%;
    width: 100%;
  }
  to {
    left: 100%;
    width: 0%;
  }
}
@-moz-keyframes ajax-anim {
  from {
    left: 0%;
    width: 0%;
  }
  50% {
    left: 0%;
    width: 100%;
  }
  to {
    left: 100%;
    width: 0%;
  }
}
@keyframes ajax-anim {
  from {
    left: 0%;
    width: 0%;
  }
  50% {
    left: 0%;
    width: 100%;
  }
  to {
    left: 100%;
    width: 0%;
  }
}
.ajax-rail {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 10px;
  z-index: 100000;
  background: transparent;
  pointer-events: none;
  opacity: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.ajax-rail.on {
  opacity: 1 !important;
}
.ajax-rail .fill {
  position: absolute;
  height: 4px;
  left: 0px;
  top: 0px;
  width: 0%;
  background: #6dfe6a;
  -webkit-box-shadow: 0px 0px 5px #6dfe6a;
  -moz-box-shadow: 0px 0px 5px #6dfe6a;
  -o-box-shadow: 0px 0px 5px #6dfe6a;
  box-shadow: 0px 0px 5px #6dfe6a;
}
.ajax-rail.on .fill {
  -moz-animation-name: ajax-anim;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: ajax-anim;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -animation-name: ajax-anim;
  -animation-duration: 15s;
  -animation-iteration-count: infinite;
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: 'Open Sans';
}
body {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: none;
}
body.locked {
  pointer-events: none;
}
body .body-content {
  position: relative;
}
body .body-content:before,
body .body-content:after {
  display: none;
}
.slimScrollRail {
  margin: 0 0 0 0;
}
.slimScrollBar {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
header .logo {
  margin: 0 auto 30px;
  padding-top: 50px;
  display: block;
}
header .navbar {
  border-top: solid 1px #EDEDED;
  border-bottom: solid 1px #E4E4E4;
  background: #F6F6F6;
  box-shadow: inset 0 -6px 16px -17px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
}
header .navbar .navbar-toggle {
  position: relative;
  margin: 0;
  height: 47px;
  border: 0;
  float: left;
}
header .navbar .navbar-toggle .icon-bar {
  background: #ebebeb;
  width: 33px;
}
header .navbar .navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  position: relative;
}
header .navbar .navbar-nav li a {
  -webkit-transition: all 50ms ease;
  -moz-transition: all 50ms ease;
  -ms-transition: all 50ms ease;
  -o-transition: all 50ms ease;
  transition: all 50ms ease;
}
header .navbar .navbar-nav li a:after {
  -webkit-transition: all 50ms ease;
  -moz-transition: all 50ms ease;
  -ms-transition: all 50ms ease;
  -o-transition: all 50ms ease;
  transition: all 50ms ease;
  background: transparent;
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
}
header .navbar .navbar-nav li a:hover,
header .navbar .navbar-nav li a:focus {
  background: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 10px 10px -20px rgba(0, 0, 0, 0.3);
}
header .navbar .navbar-nav li a:hover:after,
header .navbar .navbar-nav li a:focus:after {
  background: #ff006d;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 150px;
  text-align: center;
  padding-top: 20px;
  border-top: solid 1px #E4E4E4;
  background: #F6F6F6;
  box-shadow: inset 0 6px 16px -17px rgba(0, 0, 0, 0.2);
}
footer .logo.small {
  width: 220px;
  margin-bottom: 10px;
}
#var-color-primary {
  color: #223466;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.no-max-width {
  max-width: none;
}
/* Anchors 
*/
a {
  text-decoration: none !important;
  outline: none !important;
}
/* Lists
*/
ul {
  list-style: none;
  margin: 0;
}
ul.bullets {
  list-style: disc;
  padding-left: 20px;
  padding-bottom: 10px;
}
ul.bullets li {
  margin-bottom: 5px;
}
/* Headers
*/
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}
.disabled {
  pointer-events: none;
}
.remove-padding {
  padding: 0;
}
.text-padding-bottom {
  padding-bottom: 8px;
  display: block;
}
.transparent {
  background: none;
}
.block {
  display: block;
}
.text-100 {
  font-weight: 100;
}
.footnote {
  opacity: 0.7;
  font-size: 12px;
}
.top5 {
  margin-top: 5px;
}
.top10 {
  margin-top: 10px;
}
.top15 {
  margin-top: 15px;
}
.top20 {
  margin-top: 20px;
}
.top30 {
  margin-top: 30px;
}
.top5-xs,
.top10-xs,
.top15-xs,
.top20-xs,
.top30-xs {
  margin-top: 0;
}
.top5-sm,
.top10-sm,
.top15-sm,
.top20-sm,
.top30-sm {
  margin-top: 0;
}
.top5-md,
.top10-md,
.top15-md,
.top20-md,
.top30-md {
  margin-top: 0;
}
@media (min-width: 480px) and (max-width: 768px) {
  .top5-xs {
    margin-top: 5px;
  }
  .top10-xs {
    margin-top: 10px;
  }
  .top15-xs {
    margin-top: 15px;
  }
  .top20-xs {
    margin-top: 20px;
  }
  .top30-xs {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .top5-sm {
    margin-top: 5px;
  }
  .top10-sm {
    margin-top: 10px;
  }
  .top15-sm {
    margin-top: 15px;
  }
  .top20-sm {
    margin-top: 20px;
  }
  .top30-sm {
    margin-top: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1440px) {
  .top5-md {
    margin-top: 5px;
  }
  .top10-md {
    margin-top: 10px;
  }
  .top15-md {
    margin-top: 15px;
  }
  .top20-md {
    margin-top: 20px;
  }
  .top30-md {
    margin-top: 30px;
  }
}
#sidebar {
  display: none;
  position: absolute;
  top: 66px;
  min-height: calc(100% - 66px);
  /*keeps 100% minus header size*/
  color: #ebebeb;
  background-color: rgba(24, 36, 71, 0.6);
  margin-left: 0;
  z-index: 8000;
  -webkit-box-shadow: inset -2px 0 5px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -2px 0 5px -3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset -2px 0 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset -2px 0 5px -3px rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  /* Sidebar slide menu */
}
#sidebar.open {
  background-color: #373536;
  display: block;
}
#sidebar ul.navbar-nav {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  bottom: 0;
  float: none;
}
#sidebar ul.navbar-nav > li,
#sidebar ul.navbar-nav > li > a {
  display: block;
  width: 100%;
  color: #ebebeb;
  font-size: 13px;
  -webkit-transition: all 50ms ease;
  -moz-transition: all 50ms ease;
  -ms-transition: all 50ms ease;
  -o-transition: all 50ms ease;
  transition: all 50ms ease;
}
#sidebar ul.navbar-nav > li > .glyphicon,
#sidebar ul.navbar-nav > li > a > .glyphicon {
  font-size: 20px;
}
#sidebar ul.navbar-nav > li > .glyphicon.menu-caret,
#sidebar ul.navbar-nav > li > a > .glyphicon.menu-caret {
  margin-top: 3px;
  float: right;
  margin-right: 0 !important;
  font-size: 0.8em;
  height: 10px;
}
#sidebar ul.navbar-nav > li > .augi-icon,
#sidebar ul.navbar-nav > li > a > .augi-icon {
  width: 30px;
  height: 30px;
  font-size: 26px;
  margin-bottom: 1px;
}
#sidebar ul.navbar-nav > li {
  width: calc(100% + 0px) !important;
}
#sidebar ul.navbar-nav > li > a:hover,
#sidebar ul.navbar-nav > li > a:focus,
#sidebar ul.navbar-nav > li > a:active {
  background-color: rgba(235, 235, 235, 0.1);
  color: #ffffff;
}
#sidebar ul.navbar-nav > li.active:not(.open) {
  box-shadow: inset -5px 0 6px -4px rgba(0, 0, 0, 0.2);
  background-color: rgba(235, 235, 235, 0.9);
}
#sidebar ul.navbar-nav > li.active:not(.open) > a {
  color: #223466;
}
#sidebar ul.navbar-nav > li.dropdown.open {
  background-color: #ebebeb;
}
#sidebar ul.navbar-nav > li.dropdown.open > a {
  color: #223466;
  background-color: transparent;
  box-shadow: inset 0px 0 0 0 white;
}
#sidebar.open ul.navbar-nav > li.active:not(.open) {
  background-color: rgba(235, 235, 235, 0.5);
}
#sidebar.open ul.navbar-nav > li.active:not(.open) a {
  color: #ebebeb;
}
#sidebar .sidebar-slide-menu {
  position: fixed;
  top: 61px;
  background-color: #ebebeb;
  bottom: 0px;
  min-width: 280px;
  border-radius: 0;
  float: none;
  width: auto;
  margin-top: 0;
  border: 0;
  opacity: 0;
  display: none;
  padding: 0;
  border-top: solid 10px #babdc8;
  -webkit-transition: all 75ms ease;
  -moz-transition: all 75ms ease;
  -ms-transition: all 75ms ease;
  -o-transition: all 75ms ease;
  transition: all 75ms ease;
  -webkit-border-top-right-radius: 1px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 1px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 2px 0 5px -3px rgba( 0, 0, 0, 0.8 ), 60px 0 150px 0 rgba( 0,0, 0, 0.4 );
  -moz-box-shadow: 2px 0 5px -3px rgba( 0, 0, 0, 0.8 ), 60px 0 150px 0 rgba( 0,0, 0, 0.4 );
  -o-box-shadow: 2px 0 5px -3px rgba( 0, 0, 0, 0.8 ), 60px 0 150px 0 rgba( 0,0, 0, 0.4 );
  box-shadow: 2px 0 5px -3px rgba( 0, 0, 0, 0.8 ), 60px 0 150px 0 rgba( 0,0, 0, 0.4 );
}
#sidebar .sidebar-slide-menu li {
  background: none;
  padding: 0 10px;
  /* Active menu item */
}
#sidebar .sidebar-slide-menu li.active {
  background-color: #ffffff !important;
}
#sidebar .sidebar-slide-menu li:hover,
#sidebar .sidebar-slide-menu li:focus,
#sidebar .sidebar-slide-menu li:active {
  background: #ffffff !important;
}
#sidebar .sidebar-slide-menu a {
  color: #223466;
  background: none;
}
#sidebar .sidebar-slide-menu li,
#sidebar .sidebar-slide-menu a {
  display: block;
  line-height: 36px;
  text-align: left;
  height: 36px;
  vertical-align: middle;
}
#sidebar .sidebar-slide-menu.on {
  opacity: 1;
}
body.sidebar-fixed #sidebar {
  display: block;
}
body.sidebar-small #sidebar {
  width: 106px;
}
body.sidebar-small #sidebar > ul.navbar-nav > li {
  text-align: center;
}
body.sidebar-small #sidebar .sidebar-slide-menu {
  left: 106px;
}
body.sidebar-small #sidebar .sidebar-slide-menu.on {
  left: 106px;
}
body.sidebar-large #sidebar {
  width: 240px;
}
body.sidebar-large #sidebar > ul.navbar-nav > li > a > .nav-icon {
  margin-right: 8px;
}
body.sidebar-large #sidebar > ul.navbar-nav > li br {
  display: none;
}
body.sidebar-large #sidebar .sidebar-slide-menu {
  left: 240px;
}
body.sidebar-large #sidebar .sidebar-slide-menu.on {
  left: 240px;
}
/* Mobile */
@media (max-width: 768px) {
  #sidebar > ul.navbar-nav {
    margin: 0;
  }
}
.login-outer-wrapper {
  padding-top: 100px;
  -webkit-transition: all 700ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 700ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: all 700ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 700ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 700ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.login-outer-wrapper.off {
  -moz-opacity: 0 !important;
  -khtml-opacity: 0 !important;
  -webkit-opacity: 0 !important;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity= 0 )';
  filter: alpha(opacity= 0 );
  opacity: 0 !important;
  -moz-transform: translate(0, 15px);
  -webkit-transform: translate(0, 15px);
  -o-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
}
.login-outer-wrapper.success {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -moz-opacity: 0 !important;
  -khtml-opacity: 0 !important;
  -webkit-opacity: 0 !important;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity= 0 )';
  filter: alpha(opacity= 0 );
  opacity: 0 !important;
}
.login-outer-wrapper ul {
  list-style: disc !important;
  padding-left: 20px;
  font-size: 13px;
}
.login-outer-wrapper ul li {
  padding-bottom: 5px;
}
.login-outer-wrapper strong {
  font-weight: 600;
}
.login-wrapper {
  text-align: right;
}
.login-wrapper .checkbox {
  margin-left: 20px;
  display: inline;
}
.login-wrapper .checkbox input {
  top: 2px;
  margin-right: 10px;
}
.login-wrapper form {
  display: inline-block;
  width: 332px;
}
.login-wrapper form .accept-terms {
  background: #60b760;
  line-height: 34px;
  color: white;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.login-wrapper form .accept-terms input {
  top: 0;
}
.login-wrapper form .accept-terms .checkbox.input-validation-error .field-error {
  max-width: none;
}
.login-wrapper form .accept-terms .checkbox.input-validation-error .field-error .validation-error-icon {
  top: -16px;
  left: -29px;
}
.login-wrapper form .accept-terms .checkbox.input-validation-error .field-error .error-message {
  top: -7px;
  left: -20px;
  height: 34px;
}
.login-wrapper .panel {
  width: 332px;
  background: rgba(255, 255, 255, 0.8);
  text-align: left;
  -webkit-box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.5);
}
.login-wrapper .panel .panel-footer {
  background: transparent;
}
/* Tablet */
@media (max-width: 1024px) {
  .login-outer-wrapper {
    padding-top: 100px;
  }
  .login-wrapper {
    text-align: center;
  }
}
/* Mobile */
@media (max-width: 768px) {
  .login-outer-wrapper {
    padding-top: 40px;
  }
}
#page-header {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  border-bottom: none;
}
#page-header ul.header-items {
  background-color: #373536;
  color: #ebebeb;
  display: block;
  width: 100%;
  height: 66px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page-header ul.header-items li.header-item {
  display: block;
  float: left;
  height: 66px;
  line-height: 65px;
  vertical-align: middle;
  color: #ebebeb;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
#page-header ul.header-items li.header-item.menu-button {
  background: rgba(255, 255, 255, 0.1);
}
#page-header ul.header-items li.header-item.home-button {
  padding: 0 10px;
  display: none;
}
#page-header ul.header-items li.header-item.home-button .nav-icon {
  position: absolute;
  left: 50%;
  top: 14px;
  margin-left: -20px;
}
#page-header ul.header-items li.header-item.home-button h1 {
  display: inline-block;
  margin: 2px 0 0 0;
  color: white;
  font-size: 20px;
  line-height: 65px;
  display: none;
}
#page-header ul.header-items li.header-item.home-button a.home-fixed-width {
  position: relative;
  text-align: center;
  display: block;
  width: 86px;
}
#page-header ul.header-items li.header-item.page-title h1 {
  pointer-events: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 66px;
  vertical-align: middle;
  margin: 2px 0 0 0;
  padding: 0 20px;
}
#page-header ul.header-items li.header-item.breadcrumb-menu-wrapper .btn .caret {
  margin-left: 0;
}
#page-header ul.header-items li.header-item.breadcrumb-menu-wrapper.disabled .btn .caret {
  color: #858585;
}
#page-header ul.header-items li.header-item button,
#page-header ul.header-items li.header-item button:focus,
#page-header ul.header-items li.header-item button:active,
#page-header ul.header-items li.header-item button:hover {
  text-decoration: none;
  outline: none;
  color: #ebebeb;
}
#page-header ul.header-items li.header-item button:hover,
#page-header ul.header-items li.header-item button:focus:hover,
#page-header ul.header-items li.header-item button:active:hover,
#page-header ul.header-items li.header-item button:hover:hover,
#page-header ul.header-items li.header-item button:active,
#page-header ul.header-items li.header-item button:focus:active,
#page-header ul.header-items li.header-item button:active:active,
#page-header ul.header-items li.header-item button:hover:active {
  color: #ffffff;
}
#page-header ul.header-items li.header-item.user-menu-wrapper {
  position: absolute;
  right: 0;
  padding: 0 10px;
}
#page-header ul.header-items li.header-item.user-menu-wrapper .user-image {
  width: 28px;
  height: 29px;
}
#page-header ul.header-items li.header-item:not(.no-hover):hover,
#page-header ul.header-items li.header-item:not(.no-hover):active {
  background-color: #4b494a;
  color: #fdfdfd;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}
#page-header ul.header-items li.header-item .dropdown-menu {
  background-color: #505050;
  margin-top: 0px;
  border-radius: 0px;
  padding: 0px;
  background-clip: border-box;
  /*border: solid 1px rgba( 0, 0, 0, 0.3 );*/
  left: -1px;
}
#page-header ul.header-items li.header-item .dropdown-menu li > a {
  color: #ebebeb;
  padding: 8px 20px;
  min-width: 280px;
}
#page-header ul.header-items li.header-item .dropdown-menu li > a:hover,
#page-header ul.header-items li.header-item .dropdown-menu li > a:focus {
  background-color: #4b494a;
  color: #ffffff;
}
#page-header ul.header-items li.header-item .dropdown-menu li.active > a {
  background-color: #434343;
  color: rgba(235, 235, 235, 0.5);
}
#page-header ul.header-items li.header-item .dropdown-menu .divider {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
#page-header ul.header-items li.header-item .dropdown-menu.dropdown-menu-right {
  right: -10px;
  left: auto;
  border-right: 0;
}
#page-header .breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 0;
  font-weight: 100;
}
#page-header .breadcrumb > li {
  display: inline-block;
}
#page-header .breadcrumb > li + li:before {
  color: #ebebeb;
}
#page-header .breadcrumb > li > a {
  color: #ebebeb;
}
#page-header .breadcrumb > .active {
  color: #a5d8e9;
}
body.sidebar-fixed .page-header .header-items .menu-button {
  display: none !important;
}
/* Mobile */
@media (max-width: 768px) {
  .page-header ul.header-items li.header-item.application {
    background: rgba(255, 255, 255, 0.1);
  }
  .page-header ul.header-items li.header-item.application h1 {
    font-size: 16px;
    font-weight: 400;
    padding: 0 5px;
  }
  .page-header ul.header-items li.header-item.page-title h1 {
    font-size: 14px;
    padding: 0 5px;
  }
}
.table {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  margin-bottom: 0;
  table-layout: fixed;
}
.table.table-ajax {
  display: none;
}
.table.loaded {
  display: table;
}
.table th.sorting,
.table th.sorting_asc,
.table th.sorting_desc {
  cursor: pointer;
}
.table tr.inactive {
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(38, 38, 38, 0.5);
}
.table tr.inactive th > a {
  opacity: 0.5;
}
.table thead tr > th {
  border-bottom: 2px solid #4C4C4C;
}
.table tbody > tr > th > a {
  font-weight: 700;
}
.table tbody > tr > th > a td.hidden,
.table tbody > tr > th > a th.hidden {
  display: none;
}
.table tbody > tr.row-danger,
.table tbody > tr.row-danger > td > a,
.table tbody > tr.row-danger > th > a {
  color: #b40000;
}
.table tbody > tr > * {
  border-top: solid 1px #dddddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table.table-alternate tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.table.table-alternate tr:nth-child(even) {
  background-color: #f6f6f6;
}
.table.table-mini {
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  margin-bottom: 30px;
}
.table.table-mini thead {
  display: inline-table;
  width: 100%;
  padding-right: 4px;
  background-color: rgba(0, 0, 0, 0.02);
}
.table.table-mini tbody {
  padding-right: 4px;
}
.table.table-mini tbody tr:first-child > * {
  border-top: 0 !important;
}
.table.table-mini tr > *:first-child {
  padding-left: 10px;
}
.table.table-mini tr > *:last-child {
  padding-right: 10px;
}
.table thead tr th,
.table thead tr td {
  border-bottom: solid 1px #c4c4c4;
  font-weight: 400;
}
.table tbody.scroll-content {
  background-color: rgba(0, 0, 0, 0.02);
  position: relative;
  display: block;
  width: 100%;
}
.table tbody.scroll-content tr {
  display: table;
  width: 100%;
}
.table tbody.scroll-content tr td,
.table tbody.scroll-content tr th {
  padding: 7px 5px;
}
.table tbody.scroll-content:before {
  content: "No Data";
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}
.dataTables_wrapper > div.row:first-child {
  display: none;
}
.dataTables_info,
.dataTables_paginate {
  margin-top: 10px;
}
.pagination {
  margin: 0;
  float: right;
}
.pagination .active > a {
  cursor: pointer !important;
  background-color: #223466;
  border-color: #223466;
  color: #ebebeb;
  border-radius: 1px;
}
.pagination .active > a:hover,
.pagination .active > a:focus {
  background-color: #2f478c;
  border-color: #2f478c;
}
.dataTables_filter {
  text-align: right;
}
.table-filter:not(:first-child) {
  margin-top: 15px;
}
#search-table {
  border: solid 2px rgba(255, 255, 255, 0.33);
  height: 40px;
}
.search-input-wrapper {
  position: realtive;
  width: 100%;
}
.search-input-wrapper #clear-search {
  pointer-events: none;
  opacity: 0;
  color: #223466;
  background-color: transparent;
  position: absolute;
  right: 30px;
  bottom: 18px;
  padding: 2px 4px 0px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: opacity 300ms ease, background-color 120ms ease;
  -moz-transition: opacity 300ms ease, background-color 120ms ease;
  -ms-transition: opacity 300ms ease, background-color 120ms ease;
  -o-transition: opacity 300ms ease, background-color 120ms ease;
  transition: opacity 300ms ease, background-color 120ms ease;
}
.search-input-wrapper #clear-search.on {
  pointer-events: all;
  opacity: 1;
}
.search-input-wrapper #clear-search.on:hover,
.search-input-wrapper #clear-search.on:active {
  background-color: rgba(0, 0, 0, 0.08);
}
#notification-tray .notification,
#modal-notification-tray .notification {
  margin: 5px 20px 0;
  transition: visibility 0ms linear 300ms, opacity 300ms ease;
  opacity: 0;
  visiblity: hidden;
  position: realtive;
}
#notification-tray .notification:first-child,
#modal-notification-tray .notification:first-child {
  margin: 20px 20px 0;
}
#notification-tray .notification.on,
#modal-notification-tray .notification.on {
  opacity: 1;
  visibility: visible;
}
#notification-tray .notification .alert,
#modal-notification-tray .notification .alert {
  margin: 0;
}
#notification-tray .notification .counter,
#modal-notification-tray .notification .counter {
  position: absolute;
  left: 25px;
  top: 13px;
  font-size: 10px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.9);
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0 5px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.3);
  display: none;
}
#notification-tray .notification .counter.on,
#modal-notification-tray .notification .counter.on {
  display: inline;
}
#notification-tray.no-close-buttons .close,
#modal-notification-tray.no-close-buttons .close {
  display: none;
}
#modal-notification-tray .notification {
  margin: 5px 0 0;
}
#modal-notification-tray .notification:first-child {
  margin: 0;
}
#modal-notification-tray .notification:last-child {
  margin-bottom: 15px;
}
.nav-tabs {
  background-color: #f6f6f6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav-tabs > li > a {
  box-sizing: content-box;
  background-color: transparent;
  color: #223466;
  border: solid 1px transparent;
  border-bottom-color: transparent;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #ececec;
  color: #223466;
  border: solid 1px #ececec;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #ffffff;
  color: #444444;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom-color: transparent;
}
.nav-tabs > li {
  position: relative;
}
.nav-tabs > li.has-error {
  /* Uncomment to add an icon to the tab when it has an error */
  /*&:after
            {
                color: @color-danger;
                font-family: 'Glyphicons Halflings';
                font-size: 20px;
                content: '\270f'; // glyphicon-pencil
                background: @color-danger;
                color: white;
                position: absolute;
                right: -6px;
                top: -7px;
                width: 18px;
                height: 18px;
                line-height: 18px;
                text-align: center;        
                font-size: 10px;
                display: block;
                z-index: 10;
                .border-radius( 18px, 18px, 18px, 18px );
            }*/
}
.nav-tabs > li.has-error > a,
.nav-tabs > li.has-error.active > a,
.nav-tabs > li.has-error.active > a:hover,
.nav-tabs > li.has-error.active > a:focus {
  color: #b40000;
  font-weight: 700;
}
.tab-content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #ffffff;
  padding: 20px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-top: 0;
}
.side-panel-tools {
  -webkit-transition: all 70ms ease;
  -moz-transition: all 70ms ease;
  -ms-transition: all 70ms ease;
  -o-transition: all 70ms ease;
  transition: all 70ms ease;
}
.side-panel-tools.panel-tools-animation {
  -moz-opacity: 0.8 !important;
  -khtml-opacity: 0.8 !important;
  -webkit-opacity: 0.8 !important;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity= 80 )';
  filter: alpha(opacity= 80 );
  opacity: 0.8 !important;
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}
.panel {
  position: relative;
  padding: 10px;
  background-color: rgba(246, 246, 246, 0.3);
  border: solid 1px rgba(0, 0, 0, 0.2);
  /* Puts an inner shadow around the panels content */
  /* Text styling within info panels and coach tips */
}
.panel:before {
  pointer-events: none;
  position: absolute;
  background: transparent;
  content: '';
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  -webkit-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
}
.panel h1 {
  font-size: 28px;
  font-weight: 600;
  padding: 0;
}
.panel p {
  margin-bottom: 15px;
}
.panel .panel-heading {
  border: 0;
  border-bottom: solid 1px rgba(198, 198, 198, 0.3);
  padding: 20px 20px 20px 20px;
  background: #f6f6f6;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel .panel-heading h1 {
  color: #223466;
  margin: 0;
}
.panel .panel-body {
  padding-top: 20px;
  background: #f6f6f6;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0;
}
.panel .panel-footer {
  background: #f6f6f6;
  border-top: solid 1px rgba(198, 198, 198, 0.3);
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel.panel-info {
  background-color: rgba(34, 52, 102, 0.2);
  color: #ebebeb;
}
.panel.panel-info .panel-body,
.panel.panel-info .panel-header,
.panel.panel-info .panel-footer {
  background-color: rgba(34, 52, 102, 0.8);
}
.panel.panel-danger {
  background-color: rgba(180, 0, 0, 0.2);
  color: #ebebeb;
}
.panel.panel-danger .panel-body,
.panel.panel-danger .panel-header,
.panel.panel-danger .panel-footer {
  background-color: #b40000;
}
.panel.panel-info h2,
.panel.panel-danger h2,
.panel.coach-tips h2,
.panel.panel-info h3,
.panel.panel-danger h3,
.panel.coach-tips h3 {
  position: relative;
  top: -2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 6px;
}
.panel.panel-info h3,
.panel.panel-danger h3,
.panel.coach-tips h3 {
  font-size: 19px;
}
.panel.panel-info p,
.panel.panel-danger p,
.panel.coach-tips p {
  font-size: 13px;
  color: rgba(235, 235, 235, 0.8);
  margin-bottom: 12px;
}
.panel.panel-info .tool-wrapper,
.panel.panel-danger .tool-wrapper,
.panel.coach-tips .tool-wrapper {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding: 10px;
  overflow: hidden;
}
.panel.panel-info .tool-wrapper > label,
.panel.panel-danger .tool-wrapper > label,
.panel.coach-tips .tool-wrapper > label {
  display: block;
  position: relative;
  font-size: 13px;
  font-weight: 100;
  top: -2px;
}
.panel.panel-info .textbox-with-button input,
.panel.panel-danger .textbox-with-button input,
.panel.coach-tips .textbox-with-button input {
  border: solid 2px rgba(255, 255, 255, 0.35);
  height: 36px;
  border-right: 0;
  box-shadow: none;
}
.panel.panel-info .row.row-spacer,
.panel.panel-danger .row.row-spacer,
.panel.coach-tips .row.row-spacer {
  margin-bottom: 15px;
}
.panel.coach-tips {
  border: solid 1px rgba(34, 52, 102, 0.4);
  padding: 0;
  color: #223466;
  display: none;
}
.panel.coach-tips:before {
  box-shadow: none;
}
.panel.coach-tips .panel-body {
  padding: 25px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel.coach-tips .panel-body,
.panel.coach-tips .panel-header,
.panel.coach-tips .panel-footer {
  color: #223466;
  background-color: rgba(246, 246, 246, 0.3);
}
.panel.coach-tips h3 {
  color: #223466;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: dashed 1px rgba(34, 52, 102, 0.5);
}
.panel.coach-tips p {
  color: #223466;
}
.well {
  border: 0;
  background: rgba(0, 0, 0, 0.05);
}
.form-control,
.bootstrap-select > .btn-default {
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form-control.input-validation-error,
.btn.dropdown-toggle.input-validation-error {
  border-color: #b40000;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 0, 0, 0.6);
  -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 0, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 0, 0, 0.6);
}
/* Toggles */
.btn.toggle label {
  overflow: hidden;
}
.form-spacer {
  height: 30px;
}
.form-spacer-small {
  height: 20px;
}
form .btn.dropdown-toggle:not(.input-validation-error):focus,
form .btn.dropdown-toggle:not(.input-validation-error):active {
  border-color: #66afe9 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.5),0 0 8px rgba(102,175,233,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.5),0 0 8px rgba(102,175,233,.6);
  -o-box-shadow: inset 0 1px 1px rgba(255,255,255,.5),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(255,255,255,.5),0 0 8px rgba(102,175,233,.6);
}
form h2 {
  color: #223466;
  font-weight: 700;
  font-size: 24px;
}
form .panel-heading h2 {
  margin-bottom: 0;
}
form .panel-body h2 {
  padding-bottom: 15px;
}
form .form-group {
  position: relative;
  clear: both;
}
form .form-group:last-child {
  margin-bottom: 0;
}
form .form-control[disabled],
form .form-control[readonly],
form fieldset[disabled] .form-control {
  position: relative;
  background-color: #E8E8E8;
  opacity: 1;
  color: #ababab;
  border-color: #D8D8D8;
}
form .field-container {
  display: block;
  max-width: 280px;
}
form .calendar-wrapper {
  position: relative;
  max-width: 280px;
}
form .calendar-wrapper input {
  cursor: pointer;
}
form .calendar-wrapper i.glyphicon {
  position: absolute;
  right: 8px;
  top: 10px;
  color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}
.field-validation-error {
  display: none;
}
.field-error {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.field-error .error-message {
  display: block;
  background: #b40000;
  color: white;
  position: absolute;
  left: 10px;
  top: 0px;
  padding: 0px 5px 3px;
  font-size: 10px;
  text-indent: 12px;
  z-index: 9;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  vertical-align: middle;
  width: 0;
  overflow: hidden;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.field-error .error-message.on {
  opacity: 0.9;
  pointer-events: all;
  width: 100%;
}
.field-error .validation-error-icon {
  background: #b40000;
  color: white;
  position: absolute;
  left: 2px;
  top: -9px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 10px;
  display: block;
  z-index: 10;
  cursor: pointer;
  -webkit-border-top-right-radius: 18px;
  -webkit-border-bottom-right-radius: 18px;
  -webkit-border-bottom-left-radius: 18px;
  -webkit-border-top-left-radius: 18px;
  -moz-border-radius-topright: 18px;
  -moz-border-radius-bottomright: 18px;
  -moz-border-radius-bottomleft: 18px;
  -moz-border-radius-topleft: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.checkbox.input-validation-error .field-error .error-message {
  display: block;
  left: 0px;
  height: 32px !important;
  line-height: 32px !important;
  max-width: 280px;
}
.checkbox.input-validation-error .field-error .validation-error-icon {
  top: -9px;
  left: -8px;
}
/* any ancestor has disabled class */
.disabled {
  pointer-events: none;
}
.btn {
  border-radius: 2px;
}
.btn.emphasis {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.btn.btn-primary {
  background-color: #223466;
  border-color: #223466;
}
.btn.btn-link {
  color: #223466;
}
.btn.btn-primary,
.btn.btn-primary:focus {
  background-color: #223466;
}
.btn.btn-primary.emphasis,
.btn.btn-primary:focus.emphasis {
  box-shadow: 0 0 0px 3px rgba(34, 52, 102, 0.4);
}
.btn.btn-success,
.btn.btn-success:focus {
  background-color: #60b760;
}
.btn.btn-success.emphasis,
.btn.btn-success:focus.emphasis {
  box-shadow: 0 0 0px 3px rgba(96, 183, 96, 0.4);
}
.btn.btn-danger,
.btn.btn-danger:focus {
  background-color: #b40000;
}
.btn.btn-danger.emphasis,
.btn.btn-danger:focus.emphasis {
  box-shadow: 0 0 0px 3px rgba(180, 0, 0, 0.4);
}
.btn.btn-danger.emphasis.disabled,
.btn.btn-danger:focus.emphasis.disabled {
  opacity: 1;
}
.button-bar .btn {
  margin-left: 8px;
}
.toggle {
  border-radius: 1px;
}
.toggle .toggle-handle {
  border: 0;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
}
.toggle .toggle-group > label {
  box-shadow: none;
}
.panel-info .btn-default:not(.toggle),
.panel-danger .btn-default:not(.toggle) {
  border: solid 2px rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}
.panel-info .btn-default,
.panel-danger .btn-default {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ebebeb;
}
.panel-info .btn-default:hover,
.panel-danger .btn-default:hover,
.panel-info .btn-default:focus,
.panel-danger .btn-default:focus {
  background-color: rgba(255, 255, 255, 0.15);
}
.panel-info .btn-default .glyphicon,
.panel-danger .btn-default .glyphicon {
  margin-right: 5px;
}
.panel-info .toggle .btn-default,
.panel-danger .toggle .btn-default {
  border: 0;
}
.panel-info .toggle .toggle-handle,
.panel-danger .toggle .toggle-handle {
  border-radius: 0px;
}
.panel-info .btn-feature,
.panel-danger .btn-feature {
  border: solid 2px rgba(0, 0, 0, 0.3);
  background-color: #60b760;
  color: white;
  -webkit-transition: background-color 100ms ease;
  -moz-transition: background-color 100ms ease;
  -ms-transition: background-color 100ms ease;
  -o-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}
.panel-info .btn-feature:hover,
.panel-danger .btn-feature:hover,
.panel-info .btn-feature:focus,
.panel-danger .btn-feature:focus {
  background-color: #72bf72;
}
.panel-info .btn-feature:active,
.panel-danger .btn-feature:active {
  background-color: #59b459;
  box-shadow: none;
}
#modal {
  z-index: 10000;
}
#modal .modal-dialog {
  width: 768px;
  left: 50%;
  margin-left: -384px;
  z-index: 8001;
  opacity: 0;
  -webkit-transition: opacity 120ms ease;
  -moz-transition: opacity 120ms ease;
  -ms-transition: opacity 120ms ease;
  -o-transition: opacity 120ms ease;
  transition: opacity 120ms ease;
}
#modal .modal-dialog.on {
  opacity: 1;
}
#modal .modal-dialog.modal-large {
  width: 1024px;
  margin-left: -512px;
}
#modal .modal-dialog.modal-medium {
  width: 768px;
  margin-left: -384px;
}
#modal .modal-dialog.modal-small {
  width: 400px;
  margin-left: -200px;
}
#modal .modal-dialog .modal-content {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#modal .modal-dialog.modal-height-medium {
  height: 400px;
}
#modal .modal-dialog.modal-height-fill {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  overflow: hidden;
}
#modal .modal-dialog.modal-height-fill .modal-content {
  height: 100%;
}
#modal .modal-dialog.modal-height-fill .modal-content .modal-body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#modal .modal-dialog.modal-height-fill .modal-content .modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#modal .modal-dialog .slimScrollBar {
  background-color: #223466;
  box-shadow: none;
}
.modal-open .modal {
  overflow-y: hidden;
}
/* Mobile */
@media (max-width: 768px) {
  #modal .modal-dialog {
    width: 400px;
    left: 50%;
    margin-left: -200px;
  }
  #modal .modal-dialog.modal-large,
  #modal .modal-dialog.modal-medium {
    left: 0;
    width: 100%;
    margin-left: 0;
  }
  #modal .modal-dialog.modal-large .modal-content,
  #modal .modal-dialog.modal-medium .modal-content {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  #modal .modal-dialog.modal-small {
    width: 400px;
    margin-left: -200px;
  }
}
.treeview li {
  border: 0;
}
.treeview li:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.treeview li:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.dashboard {
  color: #747474;
}
.dashboard h2 {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 12px;
  margin-bottom: 0;
}
.dashboard .indicator-list {
  background-color: rgba(0, 0, 0, 0.02);
  padding-right: 4px;
}
.dashboard .indicator {
  background-color: #f6f6f6;
  cursor: default;
  margin-bottom: 30px;
}
.dashboard .indicator > [class^="col-"]:first-child {
  padding-left: 0;
}
.dashboard .indicator > [class^="col-"]:last-child {
  padding-right: 0;
}
.dashboard .indicator h2,
.dashboard .indicator label,
.dashboard .indicator i {
  display: block;
}
.dashboard .indicator label {
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 0;
  margin-top: -15px;
}
.dashboard .indicator i {
  font-style: normal;
  font-size: 10px;
}
.dashboard .indicator i.up:before,
.dashboard .indicator i.down:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: -10px;
}
.dashboard .indicator i.up:before {
  content: "\e093";
  color: #60b760;
}
.dashboard .indicator i.down:before {
  content: "\e094";
  color: #b40000;
}
.dashboard .indicator .status-bar {
  width: 70%;
  height: 4px;
  background-color: #747474;
}
.dashboard .indicator .super {
  font-size: 20px;
  vertical-align: top;
  position: relative;
  top: 4px;
}
.dashboard .indicator.warning {
  background-color: rgba(180, 0, 0, 0.2);
  color: #ebebeb;
}
.dashboard .indicator.warning .panel-body,
.dashboard .indicator.warning .panel-header,
.dashboard .indicator.warning .panel-footer {
  background-color: #b40000;
}
.dashboard .indicator.percentage-indicator {
  margin-bottom: 0;
  padding-bottom: 5px;
}
.dashboard .indicator.percentage-indicator h2,
.dashboard .indicator.percentage-indicator label,
.dashboard .indicator.percentage-indicator i {
  height: 38px;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  display: block;
}
.dashboard .indicator.percentage-indicator h2,
.dashboard .indicator.percentage-indicator i {
  padding-top: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dashboard .indicator.percentage-indicator h2 {
  font-size: 12px;
}
.dashboard .indicator.percentage-indicator label {
  padding-top: 4px;
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 0;
}
.dashboard .indicator.percentage-indicator i {
  font-size: 10px;
}
.dashboard .indicator.percentage-indicator .progress-bar-rail {
  float: left;
  width: 100%;
  background-color: #dddddd;
  min-height: 6px;
}
.dashboard .indicator.percentage-indicator .progress-bar-rail .progress-bar {
  float: none;
  height: 6px;
  box-shadow: none;
}
.dashboard .rank {
  display: inline-block;
  background-color: #60b760;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  width: 16px;
  height: 17px;
  margin-right: 15px;
  color: white;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dashboard .rank.rank-danger {
  background-color: #b40000;
}
@media (max-width: 992px) {
  .dashboard .indicator .status-bar {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .dashboard .indicator .status-bar {
    width: 100%;
  }
}
.chart canvas {
  display: block;
}
.chart h2 {
  font-size: 16px;
}
.chart .chart-legend {
  padding: 0;
  margin: 4px 0 12px;
}
.chart .chart-legend li {
  display: inline-block;
  margin-right: 25px;
  font-size: 12px;
}
.chart .chart-legend li span {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin-right: 8px;
  position: relative;
  top: -2px;
  border-radius: 2px;
}
.chart.chart-data-list:not(:first-child) {
  margin-top: 15px;
}
.chart-100 canvas {
  height: 100px;
}
.chart-150 canvas {
  height: 150px;
}
.chart-200 canvas {
  height: 200px;
}
#background {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.default-background {
  background: url('/content/_themes/_default/images/default-background.jpg');
}
.login-background {
  background: url('/content/_themes/_default/images/login-background.jpg');
}
.letter {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 1261px;
  padding: 0 160px 20px 120px;
  font-size: 16px;
}
.letter.letter-editing .letter-not-editable {
  display: inline-block;
  color: #adadad !important;
}
.letter div[contenteditable="true"] {
  padding: 5px 0;
  overflow-y: visible;
}
.letter div[contenteditable="true"]:hover {
  background-color: #f5f5f5 !important;
}
.letter div[contenteditable="true"]:focus {
  outline: none;
  background-color: #efefef !important;
}
.letter p {
  margin: 0 0 20px;
}
.letter section {
  position: relative;
  width: 100%;
}
.letter section.sender-section {
  padding-bottom: 15px;
}
.letter section.body-section {
  text-align: justify;
}
.letter section.footer-section {
  position: absolute;
  left: 120px;
  right: 160px;
  width: auto;
  bottom: 0;
  text-align: center;
  font-size: 1.2em;
}
.letter .letter-logo {
  float: left;
  width: 40%;
  height: 180px;
}
.letter .letter-signature {
  width: 50%;
  height: 66px;
}
.letter .sender-address {
  float: right;
  min-height: 180px;
  width: 50%;
  text-align: right;
  font-size: 0.9em;
}
.letter .recipient-name {
  min-height: 32px;
  width: 50%;
  padding-bottom: 5px;
}
.letter .recipient-address {
  min-height: 63px;
  width: 50%;
  margin-bottom: 35px;
}
#pdf-wrapper .letter {
  width: 1032px;
  height: 1491px;
  padding: 30px 90px 0 90px;
  font-size: 20px;
}
#pdf-wrapper .letter .letter-logo {
  width: 40%;
  height: auto;
}
#pdf-wrapper .letter .letter-signature {
  width: auto;
  height: 66px;
}
@font-face {
  font-family: 'augi-icons';
  src: url('/Content/fonts/AugiFont-Regular.otf') format('opentype');
}
.augi-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'augi-icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.augi-icon-admin:before {
  content: "s";
}
.augi-icon-dashboard:before {
  content: "À";
}
.augi-icon-home:before {
  content: "E";
}
.augi-icon-reports:before {
  content: "G";
}
.augi-icon-gift-orders:before {
  content: "É";
}
.augi-icon-rewards:before {
  content: "Ë";
}
.augi-icon-reward-request:before {
  content: "Ê";
}
.dropzone {
  cursor: pointer;
  border-radius: 10px;
  background: #E0E0E0;
  border: 2px dashed #A9A9A9;
  padding: 10px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.dropzone .dz-image {
  display: none;
}
.dropzone .dz-details {
  display: none;
}
.dropzone .dz-progress {
  display: none;
}
.dropzone .dz-error-message {
  display: none;
}
.dropzone .dz-success-mark {
  display: none;
}
.dropzone .dz-error-mark {
  display: none;
}
.dropzone .dz-remove {
  display: none;
}
.dropzone .dz-message {
  position: relative;
  display: block;
  color: #223466;
}
.slimScrollRail {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.slimScrollRail {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* Theme folder */
/* Main Colors*/
/* Bootstrap Colors*/
/* Backgrounds */
/* Images */
/* Login */
/* Sidebar */
/* Page Header */
/* Layout */
/* Panels */
/* Coach Tips */
/* Forms */
/* Reporting */